# List in Python

List is sequence of objects of different data types. Like in java, C++ and in 
other programming languages, we have array as a sequence of object, in pyhton 
we use list data type. a list is defined using square brackets. List is a mutable array i.e.  we can change the data type of an object stored at a particular index.

For exammple :

In [9]:
a=[123123, "Sheetal Jain", "MCA(AIML)"]

In [10]:
type(a)

list

#### A list can be accessed using both forward as well as backward indexing.

For example:

In [11]:
items = ["apple", "Banana" , "Guava" , "Watermelon" , "Muskmelon"]
print(items[3])
print(items[-2])

Watermelon
Watermelon

Explantion: As we can see, if we start forward indexing with 0, index number 3rd refers watermelon and if we start backward indexing with -1, element with index -2 is again water melon. Hence, the output shows us "watermelon" twice

## Mutability

In [26]:
student_1 = [2,"Sheetal",9.34]
type(student_1)
type(student_1[1])

str

In [29]:
student_1[i] = 1232
type(student_1[i])

int

As it can be seen, we changed the data type of object at index number 1 in the sudent_1 list

## list() function

Like int(), str(), float() etc. we have list() function. We can pass an iterable object inside list() function and convert it into a list.

In [1]:
myName="SimmiSheetalJain"
new=list(myName)

In [2]:
type(new)

list

### How to read a list using "for" loop:

In [4]:
mylist = "Sheetal Jain"
for i in mylist:
    print(i)

S
h
e
e
t
a
l

J
a
i
n

### How slicing is applied on a list:

In [5]:
#Example 1
print(new[0:])

['S', 'i', 'm', 'm', 'i', 'S', 'h', 'e', 'e', 't', 'a', 'l', 'J', 'a', 'i', 'n']

So, we can see the string entered by me has been broken in list and element 
the list are nothing but charater of string.

In [9]:
#Example 2
list2=[10,20,30,40,50]
list2[2:2]

[]

In [10]:
#Example 3
list2[2:8]

[30, 40, 50]

### Some  More complex Examples of List Slicing

In [3]:
#Example
list1=[1,2,3,4,5,6]
#Accesing first n elements 
print(list1[:4])  #Accesing First 4 elements of list1
#Reversing a list in python 
print(list1[::-1])
#printing last n elements, to do so only mention start index.
print(list1[4:])

[1, 2, 3, 4]
[6, 5, 4, 3, 2, 1]
[5, 6]

### How to make a list by passing data directly in the list function:

In [2]:
#Example 1
list((10,20,30))

[10, 20, 30]

In [3]:
#Example 2
list(("Sheetal","Sachin","Shivani","Sharda"))

['Sheetal', 'Sachin', 'Shivani', 'Sharda']

In [4]:
#Example 3
list(("Anuj",10,4589,9865321456))

['Anuj', 10, 4589, 9865321456]

In [8]:
#example 4
list1=list("Sheetal")
print(list1[-1:-8:-1])

['l', 'a', 't', 'e', 'e', 'h', 'S']

### Modifying existing element or elements of a list

#### To modify a single element, we can use forward or backward indexing to access an existing element and then can make changes in the value of that element.

In [10]:
list2=list('Anjali Jain')

In [14]:
list2[1]="Ravi"

In [15]:
for i in list2:
    print(i)

A
Ravi
j
a
l
i

J
a
i
n

#### To modify more than one existing element in a list use slicing:

In [16]:
#Example
list2[3:7]

['a', 'l', 'i', ' ']

In [17]:
list2[3:6]=["I","Am","SSJ"]

In [18]:
list2

['A', 'Ravi', 'j', 'I', 'Am', 'SSJ', ' ', 'J', 'a', 'i', 'n']

## Concatenating two or more list:

We can concatenate two strings using '+' operator. In the sane way, we can concatenate list also using '+' operator.

In [21]:
# Example 1
wild_animals = ["Lion","Tiger","wolf"]
domestic_animals = ["Cow","Buffalo","Goat"]
animals=wild_animals+domestic_animals
for k in animals:
    print(k)

Lion
Tiger
wolf
Cow
Buffalo
Goat

##### To append element in the list we can follow below approaches:

In [22]:
#Example 1
animals+list(["Elephant"])

['Lion', 'Tiger', 'wolf', 'Cow', 'Buffalo', 'Goat', 'Elephant']

In [23]:
#Example 2
Myteam1=["Sachin","Sheetal"]

In [31]:
Myteam1

['Sachin', 'Sheetal']

In [32]:
myNewTeam=Myteam1+list(["Devesh"])

In [33]:
myNewTeam

['Sachin', 'Sheetal', 'Devesh']

In [34]:
#Example 3
myNewTeam1=myNewTeam+["Aarti"]

In [35]:
myNewTeam1

['Sachin', 'Sheetal', 'Devesh', 'Aarti']

## Use of Membership operator in list

In [37]:
#Example 1
'Sachin' in myNewTeam1

True

In [39]:
#Example 2
'Sheetal' not in myNewTeam1

False

# List Function and Methods

### List Functions

1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. list()

#### Example 1

In [43]:
mynums=[2,7,1,3,6,78,88,56,34]
len(mynums)

9

In [44]:
max(mynums)

88

In [45]:
min(mynums)

1

In [46]:
sum(mynums)

275

In [47]:
sorted(mynums)

[1, 2, 3, 6, 7, 34, 56, 78, 88]

In [48]:
sorted(mynums, reverse=True)

[88, 78, 56, 34, 7, 6, 3, 2, 1]

##### Only 0, 0.0, False, 0+0j are false and rest of the values apart from these are true.

#### all() function returns true if all values are true else it returns false

In [49]:
#Example 1
all(mynums)

True

In [54]:
#Example 2
newMyNums=mynums+[0.0]
all(newMyNums)

False

any() returns true if atleast one element is true, and if all elements are false it returns false.

In [55]:
#Example 1
any(newMyNums)

True

In [57]:
#example 2
list3=[0,0.0,False,0+0j]
any(list3)

False

### List Methods

In [ ]:
1. append()
2. extend()
3. insert()
4. count()
5. remove()
6. pop()
7. clear()
8. reverse()
9. sort()
10. index()

In [59]:
#append is used to add 
list4=["Ak","Al","Ar","Ap","Aq","At"]
list4.append("SJ")
for i in list4:
    print(i)

Ak
Al
Ar
Ap
Aq
At
SJ

In [66]:
#extend() method is used for concatenating two list i.e. for extending a list.
#Example 1
list5=["Seema","Sadhan","Chinku"]
list4.extend(list5)

In [67]:
list4

['Ak',
 'Al',
 'Ar',
 'Ap',
 'Aq',
 'At',
 'SJ',
 'Seema',
 'Sadhan',
 'Chinku',
 'Seema',
 'Sadhan',
 'Chinku',
 'Seema',
 'Sadhan',
 'Chinku',
 'Seema',
 'Sadhan',
 'Chinku',
 'Seema',
 'Sadhan',
 'Chinku']

In [68]:
for i in list4:
    print(i)

Ak
Al
Ar
Ap
Aq
At
SJ
Seema
Sadhan
Chinku
Seema
Sadhan
Chinku
Seema
Sadhan
Chinku
Seema
Sadhan
Chinku
Seema
Sadhan
Chinku

#### Note:in extend function we can pass only an iterable object

### Before moving forward let us learn about nested index

In [1]:
list6=[1,2,3,4,5]
list7=[6,7,8,9,10]
list6.append(list7)
for j in list6:
    print(j)
print(list6)

1
2
3
4
5
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [2]:
list8=[6.1,6.2,6.3,6.4,6.5]
list7.append(list8)

In [6]:
for j in list6:
    print(j)

1
2
3
4
5
[6, 7, 8, 9, 10, [6.1, 6.2, 6.3, 6.4, 6.5]]

In [8]:
print(list6[-1][-1][-3])

6.3

##### So, in the above example, we can see that we have made a sublist, list8, in the list7. And then we added this list7 in the list6. And then to access the element of sublist, we have appended square brackets. This way of accessing index is called nesting index.

### Insert Methods

Insert method is used to insert a value in a given list and this doesn't overwrite rather it insert the element at the given index and shifts rest rest elements forward

In [74]:
list9=[2,3,5,7,13]
list9.insert(4,11)

In [75]:
for i in list9:
    print(i)

2
3
5
7
11
13

### Count Method

It is used to count a number of times an elements present in a given list.
For Example:

In [77]:
list10=[1,2,3,4,5,6,7,6,7,5,4,6,2,4,2,3,1,5,7]
list10.count(3)

2

In [79]:
list10.count(7)

3

In [81]:
list10.count(5)

3

### Index Method

It is used to know the index of an element passed in the function.

In [15]:
list9=[2,3,5,7,13]
x=list9.index(5)

In [3]:
x

2

In [16]:
list9.pop(2)

5

In [17]:
list9

[2, 3, 7, 13]

### Remove Method

It remove the element passed in argument from the list.

In [86]:
l1=[1,2,3,45,6,76,8,7,3,4]
l1.remove(4)
for i in l1:
    print(i)

1
2
3
45
6
76
8
7
3

### Pop Function

This fucntion return the element kept at the index value passed in this and remove that value from the list

In [87]:
#example 
l1.pop(4)

6

In [88]:
for i in l1:
    print(i)

1
2
3
45
76
8
7
3

### Clear Method

This method delets all elements of a list

In [89]:
l2=[1,2,3,4,5]
l2

[1, 2, 3, 4, 5]

In [90]:
l2.clear()

In [91]:
l2

[]

### Sort Method

In [92]:
list10.sort()

In [93]:
list10

[1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7]

### Reverse Method

In [94]:
list10.reverse()

In [97]:
list2.reverse()
for i in list2:
    print(i)

n
i
a
J

SSJ
Am
I
j
Ravi
A

In [36]:
a=[1,2,3,4]
p=a.pop(0)
a.append(p)
print(a)

[2, 3, 4, 1]

In [4]:
ssj=[6,3,5,1,5,2,7]
for i in range(0,len(ssj)):
    key=ssj[i]
    for j in range(i+1, len(ssj)):
        if(key < ssj[j]):
            pass
        else:
            c=ssj[j]
            ssj[i]=ssj[j]
            ssj[j]=c
            key=ssj[j]

In [3]:
a

[1, 1, 1, 1, 2, 2, 7]

In [1]:
s="SimmiSheetalJain"
"Sim" in s

True

In [2]:
s.index("Jain")

12

In [4]:
s = s+"Anjali"

In [5]:
s

'SimmiSheetalJainAnjali'

In [6]:
x = y = 10

In [7]:
x

10

In [8]:
y

10

In [9]:
s1=list(s)

In [10]:
s1

['S',
 'i',
 'm',
 'm',
 'i',
 'S',
 'h',
 'e',
 'e',
 't',
 'a',
 'l',
 'J',
 'a',
 'i',
 'n',
 'A',
 'n',
 'j',
 'a',
 'l',
 'i']

In [26]:
course=["data science","machine learning","python","html","bigdata","html"]
course1=[]
for i in course:
    course1.append(i[::-1])
course1.reverse()
print(course1)

['lmth', 'atadgib', 'lmth', 'nohtyp', 'gninrael enihcam', 'ecneics atad']

In [28]:
course=["data science","machine learning","python","html","bigdata","html"]
for i in range(0,len(course)):
    j=(list(course[i]))
    j.reverse()
    j=str(j)
    course[i]=j

In [30]:
course.reverse()
print(course)

["['e', 'c', 'n', 'e', 'i', 'c', 's', ' ', 'a', 't', 'a', 'd']", "['g', 'n', 'i', 'n', 'r', 'a', 'e', 'l', ' ', 'e', 'n', 'i', 'h', 'c', 'a', 'm']", "['n', 'o', 'h', 't', 'y', 'p']", "['l', 'm', 't', 'h']", "['a', 't', 'a', 'd', 'g', 'i', 'b']", "['l', 'm', 't', 'h']"]

In [12]:
factorial(5)

120

In [14]:
s="aba"
k=2
def nCk( k ):
    return (factorial(len(s))/(factorial(len(s)-k)*factorial(k)))

print(nCk(k))

3.0

In [16]:
a=[2,3,4,6,7,3,5]
a.index(3)

1

## Returning a list from a function

In [ ]:
Cont. Page number 200