# SET

### Set is defined using '{ }'  brackets.

In [1]:
a={1,2,3,4,5,1,2,3,5,6,7,7,2,2,2}

### Set in python is as same as set in mathematics.This means repetition is not allowed.

In [7]:
print(a)

{1, 2, 3, 4, 5, 6, 7}

As it can be seen in the above example, a has unique elements

### Elements can't be accessed using index. In other words, subscripting can not be used

In [9]:
#Example 1

print(a[0])

TypeError: 'set' object is not subscriptable

###### As it is shown above 'TypeError: 'set' object is not subscriptable', Hence, slicing can also not be applied. Here is an example :

In [10]:
#Example 2 
a[1:4]

TypeError: 'set' object is not subscriptable

### We can store hetrogenous values

In [11]:
b={11234,9.5, 'Sheetal jain', True}

In [12]:
print(b)

{9.5, 11234, 'Sheetal jain', True}

### We can pass an iterable object in set() to change it into a set.

In [13]:
set([1,2,4,5])

{1, 2, 4, 5}

In [17]:
a=[11,2,3,43,5,532,453,4,3,234,23,2,5,4,2,]
print(a)

[11, 2, 3, 43, 5, 532, 453, 4, 3, 234, 23, 2, 5, 4, 2]

In [18]:
set(a)

{2, 3, 4, 5, 11, 23, 43, 234, 453, 532}

### We can use add() to add anything in an existing set

In [23]:
c={12,24,3,554,3,32,54,55,554,12,34,23,32,43,}
c.add(1000)
print(c)

{32, 34, 3, 1000, 554, 43, 12, 55, 54, 23, 24}

### Set is an unordered collection

In [25]:
#Example 1
a = {1,2,3,'Sheetal',4,6,5,'Simmi',10.5}
print(a)

{1, 2, 3, 4, 5, 6, 10.5, 'Simmi', 'Sheetal'}

In [26]:
#Example 2: 
a

{1, 10.5, 2, 3, 4, 5, 6, 'Sheetal', 'Simmi'}

In [30]:
a.add(20)

In [31]:
#Example 3:
a

{1, 10.5, 2, 20, 3, 4, 5, 6, 'Sheetal', 'Simmi'}

### We can also use clear(),copy(),update(),remove(),pop() on a set.

In [33]:
#Example 1
a.clear()
print(a)

set()

In [38]:
#Example 2
c = b.copy()
print(c)

{True, 11234, 1000, 9.5, 'Sheetal jain'}

In [39]:
#Example 3
c.remove(11234)
print(c)

{True, 1000, 9.5, 'Sheetal jain'}

In [41]:
#Example 4
c.pop()

True

In [42]:
c.pop()

1000

In [43]:
c.pop()

9.5

###### As it can be seen, pop() function is working on set as it works on a stack i.e. top most(here very first) element is removed.

In [2]:
#Example 5:
d={1,2,3}
e={4,5,6}
print(d)
d.update(e)
print(d)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

The update() method updates the current set, by adding items from another set (or any other iterable).

In [3]:
len(d)

6

In [5]:
set([1,2,3,4,5,6,6,6,4])

{1, 2, 3, 4, 5, 6}

In [5]:
dummy=[5,6,7,2,3,1,4]
n=len(dummy)
for i in range(0,n):
    for j in range(i+1,n):
        if dummy[i] > dummy[j]:
            dummy[i]=dummy[i]+dummy[j]
            dummy[j]=dummy[i]-dummy[j]
            dummy[i]=dummy[i]-dummy[j]

In [7]:
dummy

[1, 2, 3, 4, 5, 6, 7]

In [2]:
set={[1,2,3],[4,5,6],[7,8,9]}

TypeError: unhashable type: 'list'

set